*{
    margin:0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: rgb(0, 0, 0);
}

img{
    display: inline-block;
    max-width: 5em;
    margin-bottom: 0;
    padding-bottom: 0;
    
}

nav ul{
    list-style: none;
    background-color: #8fb9e7;
    z-index: 10;
}
a:hover{
    background-color: #D1D8F0;
}

nav ul li{
    display: inline-block ;
    text-decoration: none;
    font-size: 1.5em;
}
nav li:hover ul{
    display: block;
}

nav ul li a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 0.3em;
}

nav ul li ul{
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
}

nav ul li ul li{
    display: block;
}

nav ul li ul li a{
    font-size: 0.65em;
}

h1{
    position: relative;
    font-size: 4em;
    right: 1em;
    bottom: 1em;
}

h2{
    position: relative;
    right: 3em;
    bottom: 3em;
}
h3{
    position: relative;
    right: 3em;
    bottom: 2em;
}

p{
    position: relative;
    right: 4em;
    top: -1em;
    font-size: 1em;
}

.pwhite{
    color: white;
}

.flexcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

article{
    border: 2px solid transparent;
    transition: all .7s ease;

}
article:hover{
    transform: scale(1.05);
}
.titlejet{
    margin-top: 3em;
    margin: 1em;
    padding: 5em;
    background-image: url(../pictures/f22.jpg);
    background-size: cover;
    border-radius: 0.5em;
    width: 80em;
    height: 30em;
}

section{
    padding: 5em;
    background-image: url(../pictures/schweizstartpic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0.5em;
    border-radius: 0.5em;
    height: 10em;
}

/*values of all jets*/
.flexcontainer article{
    margin: 1em;
    padding: 5em;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.7em;
    width: 35em;
    height: 25em;
}

.f22{
    background-image: url(../pictures/f22.jpg);
}

.f35{
    background-image: url(../pictures/f35.jpg);
}

.fa18{
    background-image: url(../pictures/fa18.jpg);
}

.a400m{
    background-image: url(../pictures/a400m.jpg);
}

.eurofighter{
    background-image: url(../pictures/eurofightertyphoon.jpg);
}

.c295{
    background-image: url(../pictures/c295.jpg);
}

.c17{
    background-image: url(../pictures/c17.jpg);
}

.b52{
    background-image: url(../pictures/b52.jpg);
}

.fa18superhornet{
    background-image: url(../pictures/fa18superhornet.jpg);
}


select{
    margin: 1em;
    border: none;
    border-radius: 0.5em;
    padding: 0.7em;
}

select option{
    border: none;
}

select option:hover{
    background: #D1D8F0;
}

input[type=submit]{
    border: none;
    background-color: #D1D8F0;
    position: relative;
    padding: 1em;
    border-radius: 0.5em;
}

input[type=submit]:hover{
    background-color: aliceblue;
}



form{
    text-align: center;
    color: black;
    margin: 2em;
    background-color: #8fb9e7;
    border-radius: 0.5em;
    padding: 2em;
}

form input{
    border-radius: 0.5em;
    border: none;
    padding: 0.3em;
}

.impressum, .agb, .policy{
    color: white;
    padding: 2em;
    margin: 2em;
    text-align: center;
}

.impressum p, .agb p, .policy p{
    margin-left: 7em;
}
.impressum h2, .agb h2, .policy h2{
    bottom: 0;
    right: 0;
}
.impressum h4, .agb h4, .policy h4{
    margin-top: 0;
}




@media screen and (max-width: 850px) {
    .f22, .f35, .fa18, .c17, .b52, .fa18superhornet, .a400m, .eurofighter, .c295{
        width: 15em;
        height: auto;
    }
}

